body {
  font-size: 16px;
  font-family: Roboto,sans-serif;
}

header.bar {
  background-color: #0094B8;
  display: flex;
  justify-content: flex-end;
}

div.statusbar {
  background-color: #0094B8;
  height: 36px;
  color: #FFFFFF;
  display: inline-flex;
  margin-right: 8px;
}

div.statusbar div.icon {
  padding-right: 8px;
}

nav.search {
  background-color: #00B9E6;
  height: 100px;
}

article.results {
  overflow-y: scroll;
}

div.route h2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  color: #333333;
}

div.route p {
  font-size: 1.1rem;
  color: #BBBBBB;
  font-weight: 200;
}

.option {
  display: flex;
  padding: 1rem 0;
  margin: 0 1rem;
}

div.time p {
  font-size: 1.4rem;
  color: #00B9E6;
  font-weight: 200;
}

div.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.route {
    flex-grow: 2;
    padding-left: 1.2rem;
}

div.time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-bottom {
  border-bottom: solid black 1px;
}

i.fa-bus {
  font-size: 2rem;
  margin-right: .6rem;
}

footer.bottom i.fa, nav.search i.fa {
  color: #ffffff;
  font-size: 1.8rem;
}

footer.bottom {
  background-color: #000000;
  height: 60px;
  position:fixed;
  bottom: 0%;
  width: 100%;
  display:flex;
}

footer.bottom div.icon {
  flex-grow: 1;
}

nav.search {
  color: #FFFFFF;
  display: flex;
  padding: 0 1rem;
}

nav.search div.icon {
  flex-grow: 1;
}

nav.search div.main {
  flex-grow: 8;
  font-size: 1.8rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.watch {
  display:flex;
  align-items: center;
  justify-content: center;
}
